
<ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="../recruiter">Recruiter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="../candidate">Candidate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="../items">Field</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="./">Add Company to Fields</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="../history">History</a>
        </li>
    </ul>
    <label>Company name</label>
    <select class="custom-select">
        <option selected>Degrees</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <label>Field name</label>
    <select class="custom-select">
        <option selected>Degrees</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <br>
    <br>
    <div class="form-group d-flex justify-content-center">
        <button id="submit" type="submit" class="btn btn-primary" (click)="login()">Submit</button>
    </div>
    
