
<ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="../recruiter">Recruiter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="../candidate">Candidate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="../items">Field</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="./">Add Company to Fields</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="../history">History</a>
        </li>
    </ul>
    <form [formGroup]="addCompany" (ngSubmit)="addCompanyToField(addCompany.value)">
        <label>Company name</label>
        <select class="custom-select" formControlName="firmName">
            <option selected>Companies</option>
            <option *ngFor="let company of companies" value="{{company.name}}">{{company.name}}</option>
        </select>
        <label>Field name</label>
        <select class="custom-select" formControlName="antikeim">
            <option selected>Field</option>
            <option *ngFor="let field of fields" value="{{field}}">{{field}}</option>
        </select>
        <br>
        <br>
        <div class="form-group d-flex justify-content-center">
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    
