.content{
    margin-top: 30px;

    .card{

        .card-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        padding: 30px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        transition: 300ms ease-in-out;
        
        &:hover{
            box-shadow:0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }

        .application-card{
            display: flex;
            justify-content: space-between;
        }

        .apply-btn{
            display: flex;
            flex-direction: row-reverse;
        }

    }

    
}