<div class="container-fluid">
    <button class="btn btn-outline-dark" id="logout" (click)="logout()">X</button>
    <div class="container">
        <div class="main">
            <h1>Hello {{user?.username}}</h1>
            <div class="card">
                <div class="card-title"><h5>{{user?.name + " " + user?.surname + "'s"}} Profile</h5></div>
                <div class="card-subtitle text-muted">Info: </div>
                <div class="card-body">
                    <ul>
                        <li>Username: {{user?.username}}</li>
                        <li>Firstname: {{user?.name}}</li>
                        <li>Lastname: {{user?.surname}}</li>
                        <li>Registration: {{user?.reg_date}}</li>
                        <li>Email: {{user?.email}}</li>
                        <li>Bio: {{user?.bio}}</li>
                        <li>Sistatikes: {{user?.sistatikes}}</li>
                        <li>Certificates: {{user?.certificates}}</li>
                    </ul>
                    <div class="actions">
                        <a class="btn btn-primary" routerLink="./profile" routerLinkActive="btn-warning">Edit Profile</a>
                        <a class="btn btn-primary" routerLink="./apply" routerLinkActive="btn-warning">Apply</a>
                        <a class="btn btn-primary" routerLink="./review" routerLinkActive="btn-warning">Review applications</a>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>