
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="../recruiter">Recruiter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="../candidate">Candidate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="./">Field</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="../company">Add Company to Fields</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="../history">History</a>
    </li>
</ul>
<div class="add-field">
    <form [formGroup]="addField" (ngSubmit)="createField(addField.value)">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" formControlName="title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="desc">Description</label>
            <input type="text" class="form-control" formControlName="description" placeholder="Enter description">
        </div>
        <label for="select-field">Select Parent field</label>
        <select class="custom-select" formControlName="belongs"> 
            <option selected>Parent field</option>
            <option *ngFor="let field of fields" value="{{field}}">{{field}}</option>
        </select>
        <br>
        <br>
        <div class="form-group d-flex justify-content-center">
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
        
    </form>
