<div class="content">
    <div class="card">
        <div class="card-title row">
            <h5>Review your applications</h5>
            <a routerLink="../" class="btn btn-danger">Go back to profile</a>
        </div>

        <div class="card-body">
            <div class="card" *ngFor="let application of applications">
                <div class="card-title">
                    <h3>{{application.position}}</h3>
                    <div>
                        <p class="text-muted">at</p>
                        <h6>{{application.edra}}</h6>
                    </div>
                    <div>
                        <p class="text-muted">with salary</p>
                        <h6>{{application.salary}}</h6>
                    </div>
                </div>
                <hr>
                <div class="card-body application-card">
                    <p class="text-muted">Start date:</p>
                    <h6>{{application.start_date}}</h6>
                    <p class="text-muted">Status:</p>
                    <h6>{{application.status}}</h6>
                </div>
                <div class="delete-btn">
                    <button class="btn btn-danger" (click)="delete(application.id)">Delete this application</button>
                </div>
            </div>
        </div>
    </div>
</div>