.history-stuff{
    padding: 3vh 2vw;

    .card{
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        transition: 300ms ease-in-out;

        &:hover{
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        }
    }
    
}

.input-group{
    margin-left: 5px;
}
.inputs{
    margin-top: 20px;
}