<div class="content">
    <div class="card">
        <div class="card-title row">
            <h5>Edit profile</h5>
            <a routerLink="../" class="btn btn-danger">Go back to profile</a>
        </div>
        <div class="card-subtitle text-muted"><h6>Cannot change the username</h6></div>
        
            <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile(updateProfileForm.value)">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Enter first name">
                </div>
                <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" formControlName="surname" placeholder="Enter last name">
                    </div>
                <div class="form-group">
                    <label for="firstname">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="bio">Bio</label>
                    <input type="text" class="form-control" formControlName="bio" placeholder="Enter bio">
                </div>
                <div class="form-group">
                    <label for="recommendation">Recommendations</label>
                    <input type="text" class="form-control" formControlName="sistatikes" placeholder="Enter recommendations">
                </div>
                <div class="form-group">
                    <label for="certificates">Certificates</label>
                    <input type="text" class="form-control" formControlName="certificates" placeholder="Enter Certificates">
                </div>
                <button type="submit" class="btn btn-primary">Success</button>
            </form>
    </div>
</div>